#section2{
    min-height: 110vh;
    height: auto;
    width: 100vw;
    display: grid;
    place-items: center;
}
.contact-container{
    width: 960px;
    margin: 5rem auto;
    background-color: var(--text-light);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(242, 250, 252);
}
.contactImage {
    position: relative;
}

.contactImage img{
    width: 470px;
    height: auto;
}
.contact-content{
    position: absolute;
    bottom: 2%;
    left: -25%;
    padding: 4rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.454);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: -3px 0px 2px #edf8fc;
    gap: 0;
}
.contact-content span{
    color: var(--primary-clr);
    font-size: var(--font-size);
}
.contact-content h2{
    white-space: nowrap;
}
.contact-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.contact-form input[type="submit"]{
    margin-top: 6px;
}
@media only screen and (max-width:992px) {
    .contact-container{
        width: fit-content;
        border-radius: 0;
        height: 100%;
    }
    .contactImage {
        width: fit-content;
        margin: auto;
    }
    .contact-content{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        box-shadow:none;
        gap: 0;
        padding: 2rem;
    }
    .contactImage img{
        width: 100%;
        height: 350px;
        border-radius: 50%;
        aspect-ratio: 1;

    }
    .contact-container .row{
        padding: 3rem 0;
        gap: 30px;
    }
    .contact-data h1{
       text-align: center;
    }
    #section2{
        padding:10rem 0;
    }
    .header{
        background-color: var(--text-light);
    }
}
@media only screen and (max-width:600px) {
    .contactImage img{
        width: 100%;
        height: 280px !important ;
        border-radius: 50%;
        aspect-ratio: 1;

    }
}